In [10]:
import pandas as pd
dtypes = [float, float] 
df = pd.read_csv('properties_2016.csv', header=None)
df._get_numeric_data() 
col_names = {'taxvaluedollarcnt':'object'}

/Users/aksanebs/miniconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [35]:
import pandas as pd
df = pd.read_csv("properties_2016.csv")
print('Dimensions:',df.shape)
newdf['buildingqualitytypeid'] = newdf.buildingqualitytypeid.astype(float)
newdf['regionidzip'] = newdf.regionidzip.astype(float)
newdf['heatingorsystemtypeid'] = newdf.heatingorsystemtypeid.astype(float)
newdf['airconditioningtypeid'] = newdf.airconditioningtypeid.astype(float)
newdf['buildingclasstypeid'] = newdf.buildingclasstypeid.astype(float)
newdf['propertylandusetypeid'] = newdf.propertylandusetypeid.astype(float)
newdf['architecturalstyletypeid'] = newdf.architecturalstyletypeid.astype(float)
newdf['typeconstructiontypeid'] = newdf.typeconstructiontypeid.astype(float)
newdf['taxamount'] = newdf.taxamount.astype(float)

/Users/aksanebs/miniconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Dimensions: (2985217, 58)

In [67]:
newdf=df.loc[:,['taxvaluedollarcnt','bedroomcnt','buildingqualitytypeid','finishedsquarefeet15','regionidzip','fullbathcnt',
          'heatingorsystemtypeid','airconditioningtypeid','poolcnt','regionidcity',
         'buildingclasstypeid','propertylandusetypeid','architecturalstyletypeid','typeconstructiontypeid', 'taxamount','numberofstories', 'heatingorsystemtypeid','calculatedfinishedsquarefeet','unitcnt']]

In [68]:
newdf.describe()

,taxvaluedollarcnt,bedroomcnt,buildingqualitytypeid,finishedsquarefeet15,regionidzip,fullbathcnt,heatingorsystemtypeid,airconditioningtypeid,poolcnt,regionidcity,buildingclasstypeid,propertylandusetypeid,architecturalstyletypeid,typeconstructiontypeid,taxamount,numberofstories,heatingorsystemtypeid,calculatedfinishedsquarefeet,unitcnt
count,2.942667e+06,2.973767e+06,1.938488e+06,190798.000000,2.971237e+06,2.856305e+06,1.806401e+06,811519.000000,517534.0,2.922372e+06,12629.000000,2.973780e+06,6061.000000,6747.000000,2.953967e+06,682069.000000,1.806401e+06,2.929652e+06,1.977490e+06
mean,4.204790e+05,3.088949e+00,5.784787e+00,2739.187235,9.655267e+04,2.244165e+00,4.012053e+00,1.931166,1.0,3.499335e+04,3.725948,2.600484e+02,7.202607,5.999555,5.377607e+03,1.401464,4.012053e+00,1.827162e+03,1.181171e+00
std,7.263467e+05,1.275859e+00,1.805352e+00,5447.428327,3.673175e+03,9.912054e-01,3.293733e+00,3.148587,0.0,5.072747e+04,0.501700,1.590817e+01,2.436290,0.384050,9.183107e+03,0.539076,3.293733e+00,1.819780e+03,2.447896e+00
min,1.000000e+00,0.000000e+00,1.000000e+00,112.000000,9.598200e+04,1.000000e+00,1.000000e+00,1.000000,1.0,3.491000e+03,1.000000,3.100000e+01,2.000000,4.000000,1.340000e+00,1.000000,1.000000e+00,1.000000e+00,1.000000e+00
25%,1.796750e+05,2.000000e+00,4.000000e+00,1694.000000,9.618000e+04,2.000000e+00,2.000000e+00,1.000000,1.0,1.244700e+04,3.000000,2.610000e+02,7.000000,6.000000,2.461070e+03,1.000000,2.000000e+00,1.213000e+03,1.000000e+00
50%,3.060860e+05,3.000000e+00,7.000000e+00,2172.000000,9.637700e+04,2.000000e+00,2.000000e+00,1.000000,1.0,2.521800e+04,4.000000,2.610000e+02,7.000000,6.000000,3.991780e+03,1.000000,2.000000e+00,1.572000e+03,1.000000e+00
75%,4.880000e+05,4.000000e+00,7.000000e+00,2976.000000,9.697400e+04,3.000000e+00,7.000000e+00,1.000000,1.0,4.545700e+04,4.000000,2.610000e+02,7.000000,6.000000,6.201005e+03,2.000000,7.000000e+00,2.136000e+03,1.000000e+00
max,2.827860e+08,2.000000e+01,1.200000e+01,820242.000000,3.996750e+05,2.000000e+01,2.400000e+01,13.000000,1.0,3.965560e+05,5.000000,2.750000e+02,27.000000,13.000000,3.458861e+06,41.000000,2.400000e+01,9.525760e+05,9.970000e+02

In [40]:
newdf.isnull().sum()

bedroomcnt                    11450
buildingqualitytypeid       1046729
finishedsquarefeet15        2794419
regionidzip                   13980
yearbuilt                     59928
fullbathcnt                  128912
heatingorsystemtypeid       1178816
taxdelinquencyyear          2928753
airconditioningtypeid       2173698
poolcnt                     2467683
regionidcity                  62845
buildingclasstypeid         2972588
propertylandusetypeid         11437
architecturalstyletypeid    2979156
typeconstructiontypeid      2978470
taxamount                     31250
dtype: int64

In [47]:
count_nan = len(df) - newdf.count()

In [48]:
count_nan

bedroomcnt                    11450
buildingqualitytypeid       1046729
finishedsquarefeet15        2794419
regionidzip                   13980
yearbuilt                     59928
fullbathcnt                  128912
heatingorsystemtypeid       1178816
taxdelinquencyyear          2928753
airconditioningtypeid       2173698
poolcnt                     2467683
regionidcity                  62845
buildingclasstypeid         2972588
propertylandusetypeid         11437
architecturalstyletypeid    2979156
typeconstructiontypeid      2978470
taxamount                     31250
dtype: int64

In [49]:
newdf.isnull().any()

bedroomcnt                  True
buildingqualitytypeid       True
finishedsquarefeet15        True
regionidzip                 True
yearbuilt                   True
fullbathcnt                 True
heatingorsystemtypeid       True
taxdelinquencyyear          True
airconditioningtypeid       True
poolcnt                     True
regionidcity                True
buildingclasstypeid         True
propertylandusetypeid       True
architecturalstyletypeid    True
typeconstructiontypeid      True
taxamount                   True
dtype: bool

In [50]:
def missing_values_table(newdf): 
        mis_val = newdf.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum()/len(df)
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        return mis_val_table_ren_columns

In [53]:
missing_values_table(newdf)

                              Missing Values  % of Total Values
airconditioningtypeid              2173698.0          72.815410
architecturalstyletypeid           2979156.0          99.796966
assessmentyear                           NaN           0.383188
basementsqft                             NaN          99.945465
bathroomcnt                              NaN           0.383959
bedroomcnt                           11450.0           0.383557
buildingclasstypeid                2972588.0          99.576949
buildingqualitytypeid              1046729.0          35.063749
calculatedbathnbr                        NaN           4.318346
calculatedfinishedsquarefeet             NaN           1.861339
censustractandblock                      NaN           2.516601
decktypeid                               NaN          99.427311
finishedfloor1squarefeet                 NaN          93.209304
finishedsquarefeet12                     NaN           9.246664
finishedsquarefeet13                     NaN          99.743000
finishedsquarefeet15               2794419.0          93.608572
finishedsquarefeet50                     NaN          93.209304
finishedsquarefeet6                      NaN          99.263002
fips                                     NaN           0.383121
fireplacecnt                             NaN          89.527160
fireplaceflag                            NaN          99.827048
fullbathcnt                         128912.0           4.318346
garagecarcnt                             NaN          70.411967
garagetotalsqft                          NaN          70.411967
hashottuborspa                           NaN          97.688141
heatingorsystemtypeid              1178816.0          39.488453
landtaxvaluedollarcnt                    NaN           2.268947
latitude                                 NaN           0.383121
longitude                                NaN           0.383121
lotsizesquarefeet                        NaN           9.248875
numberofstories                          NaN          77.151778
parcelid                                 NaN           0.000000
poolcnt                            2467683.0          82.663438
poolsizesum                              NaN          99.063385
pooltypeid10                             NaN          98.762603
pooltypeid2                              NaN          98.925539
pooltypeid7                              NaN          83.737899
propertycountylandusecode                NaN           0.411260
propertylandusetypeid                11437.0           0.383121
propertyzoningdesc                       NaN          33.719090
rawcensustractandblock                   NaN           0.383121
regionidcity                         62845.0           2.105207
regionidcounty                           NaN           0.383121
regionidneighborhood                     NaN          61.262381
regionidzip                          13980.0           0.468308
roomcnt                                  NaN           0.384394
storytypeid                              NaN          99.945599
structuretaxvaluedollarcnt               NaN           1.841809
taxamount                            31250.0           1.046825
taxdelinquencyflag                       NaN          98.108613
taxdelinquencyyear                 2928753.0          98.108546
taxvaluedollarcnt                        NaN           1.425357
threequarterbathnbr                      NaN          89.560859
typeconstructiontypeid             2978470.0          99.773986
unitcnt                                  NaN          33.757244
yardbuildingsqft17                       NaN          97.308236
yardbuildingsqft26                       NaN          99.911330
yearbuilt                            59928.0           2.007492

In [65]:
newdfpoo=df.loc[:,['bedroomcnt','buildingqualitytypeid','finishedsquarefeet15',
          'heatingorsystemtypeid','airconditioningtypeid','poolcnt','regionidcity',
         'buildingqualitytypeid','airconditioningtypeid','architecturalstyletypeid','numberofstories', 'heatingorsystemtypeid','calculatedfinishedsquarefeet','unitcnt']]

In [66]:
newdfpoo.describe()

,bedroomcnt,buildingqualitytypeid,finishedsquarefeet15,heatingorsystemtypeid,airconditioningtypeid,poolcnt,regionidcity,buildingqualitytypeid,airconditioningtypeid,architecturalstyletypeid,numberofstories,heatingorsystemtypeid,calculatedfinishedsquarefeet,unitcnt
count,2.973767e+06,1.938488e+06,190798.000000,1.806401e+06,811519.000000,517534.0,2.922372e+06,1.938488e+06,811519.000000,6061.000000,682069.000000,1.806401e+06,2.929652e+06,1.977490e+06
mean,3.088949e+00,5.784787e+00,2739.187235,4.012053e+00,1.931166,1.0,3.499335e+04,5.784787e+00,1.931166,7.202607,1.401464,4.012053e+00,1.827162e+03,1.181171e+00
std,1.275859e+00,1.805352e+00,5447.428327,3.293733e+00,3.148587,0.0,5.072747e+04,1.805352e+00,3.148587,2.436290,0.539076,3.293733e+00,1.819780e+03,2.447896e+00
min,0.000000e+00,1.000000e+00,112.000000,1.000000e+00,1.000000,1.0,3.491000e+03,1.000000e+00,1.000000,2.000000,1.000000,1.000000e+00,1.000000e+00,1.000000e+00
25%,2.000000e+00,4.000000e+00,1694.000000,2.000000e+00,1.000000,1.0,1.244700e+04,4.000000e+00,1.000000,7.000000,1.000000,2.000000e+00,1.213000e+03,1.000000e+00
50%,3.000000e+00,7.000000e+00,2172.000000,2.000000e+00,1.000000,1.0,2.521800e+04,7.000000e+00,1.000000,7.000000,1.000000,2.000000e+00,1.572000e+03,1.000000e+00
75%,4.000000e+00,7.000000e+00,2976.000000,7.000000e+00,1.000000,1.0,4.545700e+04,7.000000e+00,1.000000,7.000000,2.000000,7.000000e+00,2.136000e+03,1.000000e+00
max,2.000000e+01,1.200000e+01,820242.000000,2.400000e+01,13.000000,1.0,3.965560e+05,1.200000e+01,13.000000,27.000000,41.000000,2.400000e+01,9.525760e+05,9.970000e+02